/* universal selector - font style */
* {                
    box-sizing: border-box; 
    font-family: Arial, sans-serif;            
}

/* navigation bar style */
#flx-container { 
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    height: 60px;  
}

.nbar {   
    margin: 5px;
    padding: 10px;
}  

.nbar > a {
    font-size: 13px;
}

.nbar > a:link, a:visited {  
    color: black;
    text-decoration: none;   /* remove the underline of default link */          
}

/* add the underline when hover the link */
.nbar > a:hover {
    text-decoration: underline;                
}

/* form style for google search and image search */
.cfrm {
    height: 300px;
    margin: auto;
    margin-top: 110px;
    padding: 5px;
    text-align: center;
}    

.cfrm input[type=text] { 
    display: block;                           
    width: 580px;             
    margin: auto;          
    background-image: url('search_icon.jpeg');
    background-repeat: no-repeat;
    background-position: 10px 6px;
    padding: 15px 30px 15px 40px;      
    border: 1px solid lightgray;
    border-radius: 35px; 
    font-size: 16px;      
}

.cfrm input[type=text]:hover {
    box-shadow: 2px 1px 5px 1px lightgrey;
}

.cfrm input[type=text]:focus {
    outline: none; /*to delete border default when focus */
}

.cfrm input[type=submit] {
    display: inline-block;                
    margin: 25px 10px;
    padding:8px 12px;
    font-size: 14px;
    color: rgb(23, 14, 14);
    background-color: white;
    border: 0px;
    cursor: pointer; 
}

.cfrm input[type=submit]:hover {
    border: 1px solid lightgray;
    border-radius: 4px;
}

.cfrm input[type=submit]:focus {
    border: 1px solid rgb(0, 140, 255);
    border-radius: 4px;
}

/* responsive style of input width */
@media (min-width: 640px) {                
    .cfrm input[type=text] { 
        width: 580px;
    }
} 
@media (max-width: 639px) {
    .cfrm input[type=text] { 
        width: 95%;
    }                
}

/* Advanced search style css */
#das {
    height: 55px;
}

#das > div {
    margin: 5px;
    padding: 10px;
}

/* style for label "Advanced Search" */
#tas {
    font-size: 20px;    
    color: rgb(213, 20, 20);
    margin: 5px;
    padding: 15px;
}

/* style for border line of the form */
#frm {
    margin: 10px 0px;
    border-top: 1px solid rgba(237, 230, 230);
    border-bottom: 1px solid rgba(237, 230, 230);
}

#container {
    margin: 30px 0px;
}

.row {
    margin: 5px 0px;
}

/* style for column-1 */
.col-1 {
    height: 40px;
    width: 195px;
    margin-left: 20px;
    padding: 10px 15px;
    float: left; 
}

.col-1 > span {
    font-size: 16px;
}

.col-1 > label {
    font-size: 13px;
    
}

/* style for column-2 */
.col-2 {
    display: flex;
    flex-wrap: wrap;
}

.col-2a {
    padding: 6px;
    height: 40px;
    width: 60%;
    min-width: 240px;
    max-width: 580px;
}

.col-2b {
    width: 37%;
    min-width: 331px;
}

/* style for input text */
.col-2a input[type=text] {
    width: 100%;
    border: 1px solid rgba(212, 208, 208, 0.828);
    border-top: 1px solid rgb(200, 194, 194);   
    padding: 6px;
}

.col-2a input[type=text]:focus {
    outline: none;
    border: 1px solid rgb(55, 176, 216);  
}

/* style for submit button */
#sas {
    background-color: rgb(76, 157, 208);
    color: white;
    font-size: 11px;
    font-weight: bold;
    padding: 9px 15px;
    border-radius: 4px;
    border: none;   
    float: right;
}

#sas:hover {
    background-color: rgb(38, 138, 200);
}

#sas:focus {
    border: 3px double white;  
}

/* style for note */
.note {
    font-size: 11px;    
    padding: 12px 0px 0px 12px;        
    color: rgb(21, 20, 20);
}

.note span {
    font-family: monospace;
    display: inline-block;
}

#tnote {
    font-size: 13px;
    font-weight: bolder;
    color: rgb(87, 85, 85);
    padding-left: 0px;
}

/* responsive style to delete the display of note */
@media (max-width: 1056px) {
    .note {
        display: none; 
    }
}       